<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB06coYPHgKJvABe6rYjsJ_f22M9NQ3JkM</string>
	<key>GCM_SENDER_ID</key>
	<string>569516680175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fozli</string>
	<key>PROJECT_ID</key>
	<string>fozli-b9f2e</string>
	<key>STORAGE_BUCKET</key>
	<string>fozli-b9f2e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569516680175:ios:788f68fd71ae83b3624c1a</string>
</dict>
</plist>